{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Title</title>
</head>
<body>
    <main class="container">
        <header class="site-header">
            <svg
                    class="site-header__logo"
                    viewBox="0 0 32 32"
                    width="32"
                    height="32"
                    fill="none"
                    stroke="currentcolor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="4"
            >
                <path
                        d="M16 7 C16 7 9 1 2 6 L2 28 C9 23 16 28 16 28 16 28 23 23 30 28 L30 6 C23 1 16 7 16 7 Z M16 7 L16 28"
                ></path>
            </svg>
            <h1>Bookshelf</h1>
        </header>
        <form class="form" action="" method="post">
        {% csrf_token %}
        <div class="field">
          {{ form.title }}
          <button class="field__button">
            <svg
              viewBox="0 0 32 32"
              width="32"
              height="32"
              fill="none"
              stroke="currentcolor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <circle cx="14" cy="14" r="12"></circle>
              <path d="M23 23 L30 30"></path>
            </svg>
          </button>
        </div>
        <label for="{{ form.title.id_for_label }}">Title</label>
            <div class="field">
          {{ form.author }}
          <button class="field__button">
            <svg
              viewBox="0 0 32 32"
              width="32"
              height="32"
              fill="none"
              stroke="currentcolor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <circle cx="14" cy="14" r="12"></circle>
              <path d="M23 23 L30 30"></path>
            </svg>
          </button>
        </div>
        <label for="{{ form.author.id_for_label }}">Author</label>
        <div class="field">
          {{ form.isbn }}
          <button class="field__button">
            <svg
              viewBox="0 0 32 32"
              width="32"
              height="32"
              fill="none"
              stroke="currentcolor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <circle cx="14" cy="14" r="12"></circle>
              <path d="M23 23 L30 30"></path>
            </svg>
          </button>
        </div>
        <label for="{{ form.isbn.id_for_label }}">ISBN</label>
        <div class="field">
          {{ form.number_of_pages }}
          <button class="field__button">
            <svg
              viewBox="0 0 32 32"
              width="32"
              height="32"
              fill="none"
              stroke="currentcolor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <circle cx="14" cy="14" r="12"></circle>
              <path d="M23 23 L30 30"></path>
            </svg>
          </button>
        </div>
        <label for="{{ form.number_of_pages.id_for_label }}">Pages</label>
        <div class="field">
          {{ form.cover_url }}
          <button class="field__button">
            <svg
              viewBox="0 0 32 32"
              width="32"
              height="32"
              fill="none"
              stroke="currentcolor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <circle cx="14" cy="14" r="12"></circle>
              <path d="M23 23 L30 30"></path>
            </svg>
          </button>
        </div>
        <label for="{{ form.cover_url.id_for_label }}">Cover URL</label>
        <div class="field">
          {{ form.language }}
          <button class="field__button">
            <svg
              viewBox="0 0 32 32"
              width="32"
              height="32"
              fill="none"
              stroke="currentcolor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
            >
              <circle cx="14" cy="14" r="12"></circle>
              <path d="M23 23 L30 30"></path>
            </svg>
          </button>
        </div>
        <label for="{{ form.language.id_for_label }}">Language</label>
        <input type="submit">
    </form>
    </main>
</body>
</html>