{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Title</title>
</head>
<body>
    <div class="book-container">
      <header >
        <a href="/" class="site-header">
        <svg
          class="site-header__logo"
          viewBox="0 0 32 32"
          width="32"
          height="32"
          fill="none"
          stroke="currentcolor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
        >
          <path
            d="M16 7 C16 7 9 1 2 6 L2 28 C9 23 16 28 16 28 16 28 23 23 30 28 L30 6 C23 1 16 7 16 7 Z M16 7 L16 28"
          ></path>
        </svg>
        <h1>Bookshelf</h1>
      </a>
      </header>
    {% if books %}
    <table rules="all">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date of publication</th>
            <th>ISBN</th>
            <th>Pages</th>
            <th>Cover</th>
            <th>Language</th>
        </tr>
        {% for book in books %}
            <tr>
                <td><a href="{% url 'edit' book.id %}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.date_of_publication }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.number_of_pages }}</td>
                <td>{{ book.cover_url }}</td>
                <td>{{ book.language }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add' %}">Dodaj pozycję</a>
    {% endif %}
    <a href="{% url 'add' %}" class="site-header">Add book</a>
    <a href="{% url 'search' %}" class="site-header">Search book</a>
    </div>
</body>
</html>